<h1>Overdue Books</h1>

<table class="table">
  <thead>
  <tr>
    <th>Card</th>
    <th>Book</th>
    <th>Expiration Date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <%= @loans.each do |loan| %>
      <tr>
        <td><%= loan.card.name %></td>
        <td><%= loan.book.title %></td>
        <td class="<%= expiry_date_class(loan) %>"><%= loan.expiry_date %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Notify Card Holder', notify_overdue_book_path(loan) %></td>
      </tr>
    <% end %>
  </tbody>
</table>