<p id="notice"><%= notice %></p>

<h1>Loans</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Card</th>
      <th>Book</th>
      <th>Expiry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.card.name %></td>
        <td><%= loan.book.title %></td>
        <td><%= loan.expiry_date %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

