
<p>
  <strong>Card:</strong>
  <%= @loan.card.name %>
</p>
<%= '<%=' %>

<p>
  <strong>Book:</strong>
  <%= @loan.book.title %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= content_tag :span, @loan.expiry_date, class: expiry_date_class(@loan) %>
</p>

<%= link_to 'Back', loans_path %>
